*{
  margin: 0;
  padding: 0;
}

header{
  background-color: darkslategray;
  height: 20vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 20px;
  color:white;
  text-align: center;
}

ul{
  display: flex;
  text-align: center;
  /* height: 100%; */
  justify-content: center;
  padding-top: 30px;
}

ul>li{
  cursor: pointer;
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  list-style-type: none; 
  border: 1px solid black;
  border-bottom: solid;
  line-height: 3em;
  margin-left:50px;
} 

main{
  background-color: lightgray;
  height: 80vh;
  /* justify-content: center; */
  text-align: center;
}

main>nav{
  width: 500px;
  height: 100px;
  border: 1px solid black;
  background-color: white;
  margin-left: 600px;
  /* justify-content: center; */
  /* margin-top: 20px; */
}

nav>h2{
  margin-top: 20px;
}

nav>input{
  margin-top: 10px;
}
/* footer{
  background-color: lightgray;
} */